html {
    background-color: plum;
}

h1 {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 50px;
}

.pic {
    display: flex;
    justify-content: center;
    width: auto;
}

.textoCentrado {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    /*en negritas porque así se ve en el ejemplo :)*/
}

.fecha {
    font-weight: bold;
}

#ada{
    width: 50%;
    border-style: double;
    border-width: 5px;
}
#cita {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

